
header{
    position: absolute;
    width: 1440px;
    background: #D9D9D9;
    height: 75px;
    left: 0px;
    top: 0px;



}
 


#logo {
    position: absolute;
    left: 7.29%;
    right: 77.51%;
    top: 11.89%;
    bottom: 57.28%;

    margin-top: 5px;

}


header ul li{
    list-style: none;

    margin-top: 10px;


}


#sr{
position: absolute;
left: 81.32%;
right: 15.97%;
top: 21.68%;
bottom: 65.73%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #888787;

}
#en{
position: absolute;
left: 85.13%;
right: 11.68%;
top: 21.68%;
bottom: 65.73%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

text-decoration-line: underline;

color: #595959;

}
#ma{
position: absolute;
left: 89.49%;
right: 7.25%;
top: 21.68%;
bottom: 65.73%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

text-decoration-line: underline;

color: #595959;

}

nav {
    width: 1440px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    
    color: #000000;
    order: 0;
    flex-grow: 0;
    
    align-items: center;

    margin-top: 75px;

    

}

nav ul {
   
    list-style: none;
    flex: none;
    color: #000000;
    order: 0;
    flex-grow: 0;  
    display: flex; 

    
}


.b{

    padding-right: 63px;
    padding-left:0;

    border-left: 1px  ;
    border-right: 1px ;
    text-align: center;
}

.c{
    margin-left: 63px;
    margin-right: 63px;

}

.d{
    margin-left: 63px;
    margin-right: 63px;
    border-right: 1px ;

}

.e{
    margin-left: 63px;
    margin-right: 63px;
    border-right: 1px ;

}

.f{
    margin-left: 63px;
    margin-right: 63px;
    border-right: 1px ;

}

.g{
    margin-left: 63px;
    margin-right: 63px;
    border-right: 1px ;

}

.h{
    margin-left: 63px;
    margin-right: 63px;
    border-right: 1px ;


}

.a{

    padding-left: 0px;
    padding-right: 63px;

}

.i{
    margin-left: 63px;
    margin-right: 0px;




}

.video{
    width: 1440px;
    box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 705px;
    left: 0px;
    top: 137px;
 

}



.company {
    

    float: left;
    padding-left: 50px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 17.23%;
    bottom: 69.54%;
    
    background: #F4F4F4;
    

    top: 843px;
    width: 1390px;
    height: 647px;

  

}
.company img{
    box-sizing: border-box;
    position: absolute;
    width: 710px;
    height: 504px;
    left: 0px;
    top:50px;
    z-index: 1;
    
    background: url(AIP-8.jpg), #C4C4C4;

}